:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Estilos Componente Movies*/
.title{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 19px;
  color: #fefcfc;
  margin-top: -20px; /* Espacio entre la imagen y el título */
  
}

.swiper-slide {
  transition: transform 0.3s ease;
  background-color: #fff; /* Color de fondo para las tarjetas */
  border-radius: 8px; /* Borde redondeado para las tarjetas */
 
  /* Ajustes de tamaño para las tarjetas laterales */
  &.swiper-slide-next,
  &.swiper-slide-prev {
    transform: scale(0.8); /* Reduce el tamaño de las tarjetas laterales */
    opacity: 0.3; /* Reduce la opacidad de las tarjetas laterales */
    z-index: -1; /* Envia las tarjetas laterales detrás de la tarjeta central */
  }

  /* Estilos para la tarjeta central */
  &.swiper-slide-active {
    transform: scale(1); /* Ajusta el tamaño de la tarjeta central */
    opacity: 1; /* Ajusta la opacidad de la tarjeta central */
    z-index: 1; /* Resalta la tarjeta central */
    
  }
}

.movie-poster {
  border-radius: 8px; /* Borde redondeado para las imágenes */
}

.movie-title {
  color: #0d0c0c;
  text-align: center;
}

/* Estilo Componente Cards*/

.cards-conteiner{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Organiza en tres columnas */
  gap: 20px; /* Espacio entre las tarjetas */
  margin-top: 40px;
  margin-left: 60px;
  
}

.peli-title{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 20px;
  color: #fefcfc;
  margin-top: 10px;
}
.cards-radius{
  border-radius: 15px;
}

/* Estilo botones */
.button{
  margin-top: 30px;
  margin-left: 100px;
}
button{
  margin-left: 70px;
  border-style: ridge;
  width: 140px;
  height: 30px;
  /*border-radius: 8px;
  font-weight: bold;
  cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
  /*transition: background-color 0.3s ease;*/
  cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
  transition: background-color 0.3s ease; 
  border-style: ridge;
  border: 1px solid #2e518b; 
  padding: 2px; 
  background-color: #292929; 
  color: #ffffff; 
  text-decoration: none; 
  border-radius: 20px; 
  box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1); 
}
button:hover {
  /*background-color: rgb(50, 190, 31); /* Cambia el color de fondo cuando se pasa el mouse sobre el botón */
  /*color: white;*/
  background-color: rgb(142, 142, 245);
  color: black;
}

/* Estilo Trailer*/
.trailer{
  
  margin-left: 90px;
  margin-top: 30px;
}
.no-teaser{
  color: rgb(12, 11, 11);
  text-align: center;
}
/* Estilos del Componente Banner*/

/* Estilos para el contenedor principal */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}




